/* Grundlegende Einstellungen */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #eeeeee;
    /* Sehr helles Grau als Hintergrund */
    color: #333;
    /* Dunkelgrau für Texte */
}

/* Container für die Karten, zentriert mit Abstand */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    margin-bottom: 100px;
}

/* Stil der Karten */
.card {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sanfter Schatten für Tiefe */
    width: 100vw;
    max-width: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__inner {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.card__detailsButton {
    transition: filter 0.2s ease-out;

}

.card__imageWrapper {
    width: 100%;
    /* Breite des Bildcontainers, um sicherzustellen, dass er die Breite der Karte ausfüllt */
    /* Höhenbeschränkung entfernen, um das Bild in seinem ursprünglichen Seitenverhältnis zu zeigen */
    display: flex;
    justify-content: center;
    /* Zentriert das Bild horizontal */
    align-items: center;
    /* Zentriert das Bild vertikal */
}

.card img {
    max-width: 50%;
    /* Ermöglicht, dass das Bild bis zu 100% seiner Containerbreite einnimmt */
    height: auto;
    /* Setzt die Höhe auf 'auto', damit das Bild sein Seitenverhältnis beibehält */
    object-fit: contain;
    /* Passt das Bild im Container an, ohne es zu beschneiden */
}

.card__imageWrapper:hover+.card__details .card__detailsButton {
    filter: brightness(85%);
}

.card img:hover {
    transform: scale(1.1);
}

.card__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.card-content {
    padding: 20px;
}

.card-title {
    margin: 0 0 10px 0;
    color: #333;
    font-size: 24px;
}

.card-genre {
    margin: 0 0 15px 0;
    color: #666;
    font-size: 14px;
}

.card-description {
    color: #444;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Stil der Buttons */
.button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px 5px;
    font-weight: bold;
}

button {
    transition: filter 0.2s ease-out;
}

button:hover {
    filter: brightness(85%);
}

.button-red {
    background-color: #d55959;
}

.button-blue {
    background-color: #c4daf4;
}

.link,
.button {
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.link {
    color: #4c566a;
    /* Dunkelblau/Grau für Links */
    padding: 10px 0;
}

/* Anpassungen für den Footer oder Header, falls vorhanden */
.header,
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #eceff4;
    /* Sehr helles Blau/Grau */
    color: #2e3440;
    /* Fast schwarz */
}

/* Zusätzliche Anpassungen für Abstände und Ausrichtung */
.margin-top {
    margin-top: 20px;
}

.text-center {
    text-align: center;
}


/* EDIT MODAL */
.editModal {
    position: fixed;
    animation: fadeIn 0.2s forwards;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}

.card__editForm {
    background-color: #eeeeee;
    border-radius: 5px;
    width: 350px;
    padding: 20px;
}

.card__editForm input {
    background-color: #eeeeee;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
    outline: none !important;
    color: #444;
}

.card__editForm .inputWrapper {
    margin-bottom: 10px;
}

.logo {
    max-width: 500px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    height: 250px;
    width: 500px;
}

.modalHeader {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Suchleiste-Stil */
.search-bar {
    margin-bottom: 20px;
    /* Fügt Abstand unter der Suchleiste hinzu */
}

.search-input {
    width: 95%;
    /* Suchleiste nimmt die volle Breite ihres Containers ein */
    padding: 10px 15px;
    /* Fügt innen Platz für Text hinzu */
    font-size: 16px;
    /* Setzt eine angenehme Schriftgröße */
    border: 1px solid #cccccc;
    /* Fügt einen subtilen Rahmen hinzu */
    border-radius: 5px;
    /* Rundet die Ecken leicht ab */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Fügt einen leichten Schatten für Tiefe hinzu */
    transition: all 0.3s ease;
    /* Fügt eine sanfte Übergangsanimation hinzu */
}

.search-input:focus {
    outline: none;
    /* Entfernt den Standard-Fokus-Rahmen */
    border-color: #777777;
    /* Ändert die Rahmenfarbe beim Fokussieren */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    /* Verstärkt den Schatten beim Fokussieren */
}

/* Allgemeine und globale Stile bereits definiert in index.css */

/* Anpassungen für Login- und Registrierungsformular */

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--background-color);
    /* Nutzung der global definierten Farbvariablen */
}

.auth-form {
    padding: 2rem;
    background: #FFF;
    /* Hintergrundfarbe für das Formular */
    border-radius: 10px;
    /* Einklang mit den Karten-Stilen */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Leichter Schatten für Tiefe */
    width: 100%;
    max-width: 400px;
    /* Bestimmt die maximale Breite des Formulars */
    box-sizing: border-box;
}

.auth-form h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 95%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #cccccc;
    /* Leichter Rahmen */
    margin: 0.5rem 0;
    /* Abstand oben und unten für jedes Eingabefeld */
}

.btn-primary {
    background-color: #646cff;
    /* Nutzung der global definierten Button-Farbe */
    color: #ffffff;
    margin-top: 1rem;
    margin-right: 1rem;
}

.btn-primary:hover {
    background-color: #5a5fca;
    /* Dunklere Farbe beim Hover für den Button */
}

.btn-secondary {
    background: none;
    color: #646cff;
    border: 1px solid #646cff;
    /* Rahmen im Stil der Link-Farbe */
    margin-top: 0.5rem;
}

.btn-secondary:hover {
    background-color: #f0f0f7;
    /* Leichter Hintergrund beim Hover für den sekundären Button */
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
    .auth-form {
        padding: 1rem;
    }
}